<section class="hola">
<h1 class="h1qs">¿De qué trata Arcano?</h1>
<p class="pqs">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore eligendi mollitia molestias recusandae, repellat blanditiis perspiciatis pariatur sint adipisci atque dignissimos odio temporibus aut fuga sit voluptatem officiis. Ullam, mollitia. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Quos, harum atque, architecto hic neque repellat recusandae quo necessitatibus exercitationem asperiores a quas. Esse inventore reiciendis dolor nobis quia magnam sed.
</p>
    
</section>
