<div class="container" style="margin-top: -90px; padding-bottom: 50px; max-width: 950px;">
  <div class=" text-center mt-5 ">
    <h1>Ingresa las salas de la partida</h1>
  </div>
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="card mt-2 mx-auto p-3" style="background-color: rgba(0, 0, 0, 0.459);">
        <div class="card-body" style="background-color: rgba(0, 0, 0, 0.459);">
          <div class="container">
            <form [formGroup]="myForm" id="contact-form" role="form">
              <div class="controls">
                <div class="row justify-content-center">
                  <div class="col-md-6 text-center">
                    <div class="form-group"> <label style="font-size: 26px;" for="form_name">Salas</label> <input
                        id="sala" type="text" name="sala" class="form-control" formControlName="sala"
                        placeholder="Por favor ingresar las salas en orden">
                      <button class="btn mt-2" style="background-color: blueviolet; color: cornsilk;"
                        [disabled]="!myForm.valid" (click)="agregar()">Agregar</button>
                    </div>
                  </div>
                </div>
                <div class="container" style="max-width: 600px;">
                  <div class="row">
                    <div class="col-sm-4 mb-2 mt-2" *ngFor="let sala of salas">

                      <div class="card animacion hover" style="max-width: 200px; max-height: 200px;">
                        <div class="card-img" style="background-image:url(assets/vercreadas.jpg);">
                          <button type="button" class="btn btn-default btn-circle index"><span
                              style="color: seashell;">{{salas.indexOf(sala)+1}}</span></button>
                          <button type="button" class="btn btn-default btn-circle delete" (click)="delete(sala)"><span
                              style="color: seashell;">❌</span></button>
                        </div>

                        <div class="card-content">
                          <div class="contenido-carta">
                            <h3>{{sala}}</h3>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                </div>

                <div class="row" style="margin-top: 30px;">
                  <div class="col-md-12"> <input type="submit" (click)="continuar()"
                      style="background-color: blueviolet; color: cornsilk;" class="btn btn-send pt-2 btn-block "
                      value="Guardar y continuar"> </div>
                  <div class="col-sm mt-3">
                    <button class="btn btn-block pt-2"
                      style="color: cornsilk; background-color: rgba(0, 225, 255, 0.233);"
                      (click)="volver()">Volver</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.8 -->
    </div>
    <!-- /.row-->
  </div>

</div>
