<div class="container" style="max-height: fit-content; margin-top: -70px;">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-card-2" (click)="sendCrearPartida()">
                <img src="assets/vercreadas.jpg" class="img img-responsive">
                <div class="profile-name">Crear partida</div>
                <div class="profile-username">Crea tu partida desde cero para tu grupo.</div>
                <div class="profile-icons">Anfitrión</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="profile-card-2"><img src="assets/verpartidas.jpeg" class="img img-responsive">
                <div class="profile-name">Mis partidas creadas</div>
                <div class="profile-username">Ver detalles de todas las partidas que has creado</div>
                <div class="profile-icons">Anfitrión</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="profile-card-2"><img src="assets/crear-partida.gif" class="img img-responsive">
                <div class="profile-name">Mis partidas jugadas</div>
                <div class="profile-username">Ver todas las partidas a las que has participado.</div>
                <div class="profile-icons">Jugador</div>
            </div>
        </div>
    </div>

</div>