/* You can add global styles to this file, and also import other style files */
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("assets/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-family: 'Sansita Swashed', cursive;
    background-attachment: fixed;
    background-position: bottom;
}
html{ height: 100%; }
