<section class="instcss"> 

    <h1 class="h1s">¿Cómo jugar?</h1>
    <p class="ps">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore eligendi mollitia molestias recusandae, repellat blanditiis perspiciatis pariatur sint adipisci atque dignissimos odio temporibus aut fuga sit voluptatem officiis. Ullam, mollitia. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Quos, harum atque, architecto hic neque repellat recusandae quo necessitatibus exercitationem asperiores a quas. Esse inventore reiciendis dolor nobis quia magnam sed.
    </p>
    <div class="embed-responsive embed-responsive-21by9" style = "margin-bottom: 50px">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
    </div>
</section>

